[submodule "glm"]
path = external/GLM
url = https://github.com/g-truc/glm

[submodule "imgui"]
path = external/imgui
url = https://github.com/ocornut/imgui

[submodule "imguizmo"]
path = external/imguizmo
url = https://github.com/CedricGuillemet/ImGuizmo

[submodule "sdl"]
path = external/sdl
url = https://github.com/spurious/SDL-mirror

[submodule "stb"]
path = external/stb
url = https://github.com/nothings/stb